.projectCard {
  display: flex;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projectImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  padding: 20px;
  border: var(--border-width) solid var(--border-color);
  border-radius: 20px;
  height: min-content;
  background-color: var(--content-bg-color);
}

.mainImage {
  width: 500px;
  height: auto;
  margin-bottom: 10px;
  aspect-ratio: 16 / 10;
  border-radius: 20px;
  overflow: hidden;
}

.thumbnailContainer {
  display: flex;
  gap: 10px;
}

.projectImage {
  width: 100px;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  aspect-ratio: 16 / 10;
  border-radius: 10px;
  overflow: hidden;
}

.projectImage.selected {
  border-color: var(--border-sub-color);
}

.techListTitle {
  margin: 0;
}

.techTags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.techTag {
  background-color: var(--hover-color);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}
