body {
  margin: 0;
  font-family: "Noto Sans JP", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  height: 100%;
}

:root {
  --border-color: #ffc0ee;
  --border-width: 2px;
  --hover-color: #f76cd1;
  --selected-color: #fd006e;
  --border-sub-color: #d2a1ff;
  --bg-color: #fdfdfd;
  --content-bg-color: #fffbff;
  --column-style-threshold: 1000px;
}
