.careers {
  display: flex;
  flex-direction: column;
  border-left: var(--border-width) solid var(--border-color);
  border-image: linear-gradient(
      to bottom,
      var(--border-color),
      var(--border-sub-color)
    )
    1;
  padding-left: 20px;
}

.career-item:nth-child(n + 2) {
  margin-top: 20px;
}

.date {
  font-size: 14px;
  color: gray;
  margin: 0;
}

.title {
  font-size: 18px;
  margin: 5px 0;
}

.description {
  font-size: 16px;
  margin: 10px 0;
}
