.profile {
  display: flex;
  align-items: center;
  padding: 40px 20px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-detail {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }

  .profile-detail {
    margin-left: 0;
    margin-top: 20px;
  }
}
