footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
