footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-top: var(--border-width) solid var(--border-color);
  width: 100%;
  margin-top: auto;
  margin-top: 30px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
