.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container {
  display: flex;
  border-bottom: var(--border-width) solid var(--border-color);
  background-color: white;
  align-items: center;
  height: 60px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.nav-icon {
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  gap: 20px;
}

.nav-links li {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-button-underline {
  align-self: stretch;
  height: 2px;
  background-color: var(--border-color);
}
