.hero-content {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.hero-image {
  height: 400px;
  width: 400px;
}
