#projects {
  height: 400px;
  width: 100%;
}

.project-card {
  display: flex;
  align-items: center;
  height: 160px;
  width: 350px;
  padding: 25px;
  margin: 25px;
  border: var(--border-width) solid var(--border-color);
  border-radius: 30px;
  flex-shrink: 0;
}

.project-image {
  display: flex;
  align-items: center;
  height: 100%;
}

.project-image img {
  height: 75px;
  width: 75px;
}

.project-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 15px;
  height: 100%;
}

.project-name {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
}

.tech-tag {
  margin: 5px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 14px;
}

.tech-list {
  margin-top: auto;
  margin-bottom: 10px;
}

.project-link {
  display: flex;
  font-size: 20px;
  height: 50px;
  /* width: 100%; */
  justify-content: center;
  align-items: flex-end;
}
