#skills {
  height: 350px;
  width: 500px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}

.skill-category {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.skill-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.skill-img img {
  height: 65%;
  width: 65%;
  filter: invert(1);
}

.skill-name {
  font-size: 25px;
}
