#skills {
  width: 100%;
  height: 100%;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.8%;
  overflow: hidden;
  width: 12%;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.skill-category {
  font-size: 18px;
  margin-top: 1.8%;
  margin-bottom: 0.9%;
}

.skill-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 27%;
  height: 100%;
  width: 100%;
}

.skill-img img {
  height: 65%;
  width: 65%;
  filter: invert(1);
}

.skill-name {
  font-size: 25px;
}
