.App {
  width: auto;
}

.main {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}

.section {
  border: 1px solid black;
  border-radius: 30px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  font-size: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
