.App {
  width: auto;
}

.main {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}

.section {
  border: var(--border-width) solid var(--border-color);
  border-radius: 30px;
  height: min-content;
  padding: 30px;
  margin: 20px;
}

section:nth-child(n + 2) {
  margin-top: 40px;
}

.section-title h2 {
  margin: 0;
  margin-bottom: 20px;
}

.about {
  width: 900px;
}

.section-content {
  height: 100%;
  width: 100%;
}

.section-title {
  font-size: 20px;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}
