.App {
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.main {
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

.main > section:first-child {
  margin-top: 20px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 40px;
  min-width: 0;
  margin: 40px 0;
}

.section {
  border: var(--border-width) solid var(--border-color);
  border-radius: 30px;
  min-width: 0;
  padding: 30px;
  margin: 0;
  background-color: var(--content-bg-color);
  flex-shrink: 1;
  min-width: 0;
  box-sizing: border-box;
}

section:nth-child(n + 2) {
  margin-top: 40px;
}

section:last-child {
  margin-bottom: 40px;
}

.section-title h2 {
  margin: 0;
  margin-bottom: 20px;
}

.section-content {
  height: 100%;
  width: 100%;
}

.section-title {
  font-size: 20px;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.dashboard-link {
  height: min-content;
  width: auto;
}

/* 段階的なpadding調整 */
@media screen and (max-width: 1600px) {
  .main {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1400px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }

  .dashboard {
    gap: 30px;
  }
}

/* 縦並びへの切り替え */
@media screen and (max-width: 1000px) {
  .main {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 60px;
  }

  .dashboard {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
