.projectCard {
  display: flex;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projectImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  padding: 20px;
  border: var(--border-width) solid var(--border-color);
  border-radius: 20px;
  height: min-content;
  background-color: var(--content-bg-color);
}

.mainImage {
  width: 500px;
  height: auto;
  margin-bottom: 10px;
  aspect-ratio: 16 / 10;
  border: var(--border-width) solid var(--border-color);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.thumbnailContainer {
  display: flex;
  gap: 10px;
}

.projectImage {
  width: 100px;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  aspect-ratio: 16 / 10;
  border-radius: 10px;
  overflow: hidden;
}

.projectImage.selected {
  border-color: var(--border-sub-color);
}

.techListTitle {
  margin: 0;
}

.techTags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.techTag {
  background-color: var(--hover-color);
  color: #ffffff;
  padding: 7px 12px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
}

.projectLink {
  margin-top: 15px;
  font-size: 16px;
  height: 40px;
  width: 130px;
  border-radius: 20px;
  border: var(--border-width) solid var(--border-color);
}

.projectLink a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  width: 100%;
  height: 100%;
}

.modalContent {
  display: flex;
  align-items: center;
}

.modalImage {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageContainer {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.changeImageBtn {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bg-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.changeImageBtn > svg {
  transition: color 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .projectCard {
    flex-direction: column;
    align-items: center;
  }

  .projectImages {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .mainImage {
    width: 100%;
  }
}
